In [1828]:
import pandas as pd  #importing pandas 
import numpy as np #importing numpy
import json #importing json
import plotly.express as px #importing plotly express

In [1829]:
import plotly.io as pio  #the plots will open in different tabs 
pio.renderers.default = 'browser'

In [1830]:
hc= pd.read_csv("hate_crime.csv")  #reading the csv file containing the data

C:\Users\Musta\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning:

Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.

In [1831]:
hc.describe() #getting a description of the data

,INCIDENT_ID,DATA_YEAR,ADULT_VICTIM_COUNT,JUVENILE_VICTIM_COUNT,TOTAL_OFFENDER_COUNT,ADULT_OFFENDER_COUNT,JUVENILE_OFFENDER_COUNT,VICTIM_COUNT,TOTAL_INDIVIDUAL_VICTIMS
count,201403.000000,201403.000000,35973.000000,35496.000000,201403.000000,33952.000000,33945.000000,201403.000000,199797.000000
mean,114148.940031,2004.200906,0.504656,0.064683,0.969112,0.422449,0.083046,1.245647,0.973568
std,97935.432601,7.804374,0.972267,0.396970,1.387487,0.770693,0.436144,1.153782,1.107456
min,2.000000,1991.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,50352.500000,1998.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,100703.000000,2004.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000
75%,151053.500000,2011.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
max,603113.000000,2018.000000,80.000000,40.000000,99.000000,30.000000,15.000000,200.000000,147.000000

In [1832]:
hc.head() #looking at some values of the data

,INCIDENT_ID,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,REGION_NAME,...,OFFENDER_RACE,OFFENDER_ETHNICITY,VICTIM_COUNT,OFFENSE_NAME,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES,MULTIPLE_OFFENSE,MULTIPLE_BIAS
0,3015,1991,AR0040200,Rogers,NaN,City,AR,Arkansas,West South Central,South,...,White,NaN,1,Intimidation,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-Black or African American,Individual,S,S
1,3016,1991,AR0290100,Hope,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Simple Assault,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,S,S
2,43,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Aggravated Assault,1.0,Residence/Home,Anti-Black or African American,Individual,S,S
3,44,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,2,Aggravated Assault;Destruction/Damage/Vandalis...,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,M,S
4,3017,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Aggravated Assault,1.0,Service/Gas Station,Anti-White,Individual,S,S

In [1833]:
hc = hc.drop(columns=["INCIDENT_ID","ORI","PUB_AGENCY_NAME","POPULATION_GROUP_DESC","INCIDENT_DATE","ADULT_VICTIM_COUNT","JUVENILE_VICTIM_COUNT","POPULATION_GROUP_CODE","ADULT_OFFENDER_COUNT","JUVENILE_OFFENDER_COUNT","TOTAL_INDIVIDUAL_VICTIMS","PUB_AGENCY_UNIT","AGENCY_TYPE_NAME","DIVISION_NAME","OFFENDER_ETHNICITY","LOCATION_NAME","VICTIM_TYPES","MULTIPLE_OFFENSE","MULTIPLE_BIAS"])  
#dropping the coloumns that will not be used

In [1834]:
hc

,DATA_YEAR,STATE_ABBR,STATE_NAME,REGION_NAME,TOTAL_OFFENDER_COUNT,OFFENDER_RACE,VICTIM_COUNT,OFFENSE_NAME,BIAS_DESC
0,1991,AR,Arkansas,South,1,White,1,Intimidation,Anti-Black or African American
1,1991,AR,Arkansas,South,1,Black or African American,1,Simple Assault,Anti-White
2,1991,AR,Arkansas,South,1,Black or African American,1,Aggravated Assault,Anti-Black or African American
3,1991,AR,Arkansas,South,1,Black or African American,2,Aggravated Assault;Destruction/Damage/Vandalis...,Anti-White
4,1991,AR,Arkansas,South,1,Black or African American,1,Aggravated Assault,Anti-White
...,...,...,...,...,...,...,...,...,...
201398,2018,WV,West Virginia,South,0,Unknown,1,Burglary/Breaking & Entering,Anti-Black or African American
201399,2018,WV,West Virginia,South,1,White,1,Simple Assault,Anti-Black or African American
201400,2018,WV,West Virginia,South,0,Unknown,1,Intimidation,Anti-Asian
201401,2018,WV,West Virginia,South,1,White,1,Intimidation,Anti-White
201402,2018,WV,West Virginia,South,0,Unknown,2,Burglary/Breaking & Entering;Destruction/Damag...,Anti-Other Religion

In [1835]:
hc.isnull().sum()  #checking for null values

DATA_YEAR                0
STATE_ABBR               0
STATE_NAME               0
REGION_NAME              0
TOTAL_OFFENDER_COUNT     0
OFFENDER_RACE           19
VICTIM_COUNT             0
OFFENSE_NAME             0
BIAS_DESC                0
dtype: int64

In [1836]:
hc.dropna(0, how="any") #dropping rows containing null values

,DATA_YEAR,STATE_ABBR,STATE_NAME,REGION_NAME,TOTAL_OFFENDER_COUNT,OFFENDER_RACE,VICTIM_COUNT,OFFENSE_NAME,BIAS_DESC
0,1991,AR,Arkansas,South,1,White,1,Intimidation,Anti-Black or African American
1,1991,AR,Arkansas,South,1,Black or African American,1,Simple Assault,Anti-White
2,1991,AR,Arkansas,South,1,Black or African American,1,Aggravated Assault,Anti-Black or African American
3,1991,AR,Arkansas,South,1,Black or African American,2,Aggravated Assault;Destruction/Damage/Vandalis...,Anti-White
4,1991,AR,Arkansas,South,1,Black or African American,1,Aggravated Assault,Anti-White
...,...,...,...,...,...,...,...,...,...
201398,2018,WV,West Virginia,South,0,Unknown,1,Burglary/Breaking & Entering,Anti-Black or African American
201399,2018,WV,West Virginia,South,1,White,1,Simple Assault,Anti-Black or African American
201400,2018,WV,West Virginia,South,0,Unknown,1,Intimidation,Anti-Asian
201401,2018,WV,West Virginia,South,1,White,1,Intimidation,Anti-White
201402,2018,WV,West Virginia,South,0,Unknown,2,Burglary/Breaking & Entering;Destruction/Damag...,Anti-Other Religion

In [1837]:
hc.dtypes #checking the data types of each column

DATA_YEAR                int64
STATE_ABBR              object
STATE_NAME              object
REGION_NAME             object
TOTAL_OFFENDER_COUNT     int64
OFFENDER_RACE           object
VICTIM_COUNT             int64
OFFENSE_NAME            object
BIAS_DESC               object
dtype: object

In [1838]:
hc['STATE_NAME'].unique()

array(['Arkansas', 'Arizona', 'California', 'Colorado', 'Connecticut',
       'District of Columbia', 'Delaware', 'Georgia', 'Iowa', 'Idaho',
       'Illinois', 'Kansas', 'Massachusetts', 'Maryland', 'Minnesota',
       'Missouri', 'Mississippi', 'New Jersey', 'Nevada', 'New York',
       'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Tennessee', 'Texas',
       'Virginia', 'Washington', 'Wisconsin', 'Alabama', 'Florida',
       'Indiana', 'Kentucky', 'Louisiana', 'Maine', 'Michigan',
       'North Carolina', 'North Dakota', 'Rhode Island', 'South Carolina',
       'Utah', 'Wyoming', 'Alaska', 'Montana', 'New Mexico',
       'South Dakota', 'Vermont', 'New Hampshire', 'Nebraska',
       'West Virginia', 'Guam', 'Federal', 'Hawaii'], dtype=object)

In [1839]:
hc["DATA_YEAR"]=hc["DATA_YEAR"].astype('object') #changing the data type of DATA_YEAR from int64 to an object

In [1840]:
hc.dtypes

DATA_YEAR               object
STATE_ABBR              object
STATE_NAME              object
REGION_NAME             object
TOTAL_OFFENDER_COUNT     int64
OFFENDER_RACE           object
VICTIM_COUNT             int64
OFFENSE_NAME            object
BIAS_DESC               object
dtype: object

# First Visualization

Each states number of hate crimes over the years (1991-2018) per 100000 of it's population

In [1841]:
hc_1=  hc[['DATA_YEAR','STATE_NAME','STATE_ABBR']] #taking a subset of the date

In [1842]:
hc_1 = hc_1.groupby(['DATA_YEAR','STATE_NAME']).count() #grouping by DATA_YEAR and STATE_ABBR

In [1843]:
hc_1= hc_1.rename(columns={'STATE_ABBR':'no_of_incidents'}) #renaming the column of the count of hate crimes

In [1844]:
hc_1 = hc_1.add_suffix('').reset_index() #turning it from a hierarchical index to a normal index
hc_1["DATA_YEAR"]=hc_1["DATA_YEAR"].astype('object')

In [1845]:
dfs= pd.read_html("https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_historical_population") #parsing html file for US population

In [1846]:
len(dfs) #seeing how many of dataframes that were found in the html page

8

In [1847]:
US_POP= dfs[3] #choosing the the dataframe that we will use

In [1848]:
US_POP = US_POP.drop(columns=['1960','1970','1990','1980','2010','2020']) #dropping columns that will not be used
US_POP = US_POP[:-1] #dropping rows that will not be used

In [1849]:
US_POP.columns= ['STATE_NAME','POPULATION'] #renaming the columns

In [1850]:
hc_1 = pd.merge(hc_1, US_POP, on ="STATE_NAME") #merging the two dataframes

In [1851]:
i = hc_1[((hc_1.STATE_NAME == 'Guam') )].index
hc_1.drop([1332, 1333], inplace= True)

In [1852]:
hc_1["POPULATION"]=hc_1["POPULATION"].astype('float') #changing the data type of POPULATION

In [1853]:
hc_1['Normalized_value']= hc_1.apply(lambda row: (row.no_of_incidents/row.POPULATION)*100000, axis = 1) #creating a new column and filling it with the mornalized value

In [1854]:
hc_1

     DATA_YEAR     STATE_NAME  no_of_incidents  POPULATION  Normalized_value
0         1991        Arizona               48   5130632.0          0.935557
1         1992        Arizona              172   5130632.0          3.352414
2         1993        Arizona              208   5130632.0          4.054081
3         1994        Arizona              205   5130632.0          3.995609
4         1995        Arizona              220   5130632.0          4.287971
...        ...            ...              ...         ...               ...
1328      2015  West Virginia               42   1808344.0          2.322567
1329      2016  West Virginia               41   1808344.0          2.267268
1330      2017  West Virginia               38   1808344.0          2.101370
1331      2018  West Virginia               95   1808344.0          5.253425
1334      2018         Hawaii               44   1211537.0          3.631750

[1333 rows x 5 columns]

In [1855]:
us_states= json.load(open("us_states.json","r")) #reading the geojson file

In [1856]:
us_states['features'][0]['properties'] #searching for a unique id to use for each state

{'GEO_ID': '0400000US01',
 'STATE': '01',
 'NAME': 'Alabama',
 'LSAD': '',
 'CENSUSAREA': 50645.326}

In [1857]:
state_id_map={} #creating a dictionary to map the id into my df

for feature in us_states['features']: #mapping every state to a unique id 
    feature['id']= feature['properties']['STATE'] 
    state_id_map[feature['properties']['NAME']] = feature['id']

In [1858]:
state_id_map

{'Alabama': '01',
 'Alaska': '02',
 'Arizona': '04',
 'Arkansas': '05',
 'California': '06',
 'Colorado': '08',
 'Connecticut': '09',
 'Delaware': '10',
 'District of Columbia': '11',
 'Florida': '12',
 'Georgia': '13',
 'Hawaii': '15',
 'Idaho': '16',
 'Illinois': '17',
 'Indiana': '18',
 'Iowa': '19',
 'Kansas': '20',
 'Kentucky': '21',
 'Louisiana': '22',
 'Maine': '23',
 'Maryland': '24',
 'Massachusetts': '25',
 'Michigan': '26',
 'Minnesota': '27',
 'Mississippi': '28',
 'Missouri': '29',
 'Montana': '30',
 'Nebraska': '31',
 'Nevada': '32',
 'New Hampshire': '33',
 'New Jersey': '34',
 'New Mexico': '35',
 'New York': '36',
 'North Carolina': '37',
 'North Dakota': '38',
 'Ohio': '39',
 'Oklahoma': '40',
 'Oregon': '41',
 'Pennsylvania': '42',
 'Rhode Island': '44',
 'South Carolina': '45',
 'South Dakota': '46',
 'Tennessee': '47',
 'Texas': '48',
 'Utah': '49',
 'Vermont': '50',
 'Virginia': '51',
 'Washington': '53',
 'West Virginia': '54',
 'Wisconsin': '55',
 'Wyoming': '56',
 'Puerto Rico': '72'}

In [1859]:
hc_1['id']= hc_1['STATE_NAME'].apply(lambda x: state_id_map[x]) #adding the id column

In [1860]:
hc_1['scale']= np.log10(hc_1['no_of_incidents']) #creating a scale for the figure

In [1861]:
#creating the choropleth map
fig1 = px.choropleth(hc_1, locations='id', geojson=us_states, color='scale',color_continuous_scale="Viridis",animation_frame="DATA_YEAR",hover_name='STATE_NAME',hover_data=['Normalized_value'],scope="usa")
fig1["layout"].pop("updatemenus")
fig1.show()

# Second Visualization

The bias of the offenders from the years (1991-2001)

In [1862]:
hc_2 = hc[['DATA_YEAR','BIAS_DESC']] #taking a subset of data

In [1863]:
hc_2 = hc_2.groupby('BIAS_DESC').count() #counting the number of crimes for each type of BIAS_DESC

In [1864]:
hc_2.rename(columns={'DATA_YEAR':'count'}, inplace= True) #renaming the column

In [1865]:
hc_2 = hc_2.sort_values(by='count', ascending= False) #rearranging them in a descending order

In [1866]:
hc_2= hc_2.head(10) #taking the 10 first items in the list

In [1867]:
hc_2

                                                    count
BIAS_DESC
Anti-Black or African American                      69056
Anti-Jewish                                         26109
Anti-White                                          23345
Anti-Gay (Male)                                     20316
Anti-Hispanic or Latino                             12837
Anti-Other Race/Ethnicity/Ancestry                  10101
Anti-Lesbian, Gay, Bisexual, or Transgender (Mi...   6077
Anti-Asian                                           5913
Anti-Multiple Races, Group                           4854
Anti-Lesbian (Female)                                4266

In [1868]:
fig2= px.bar(hc_2, y='count') #creating the figure
fig2.show()

# Third Visualization

The number of hate crimes over the years(1991-2018)

In [1869]:
hc_3 = hc[['DATA_YEAR','STATE_NAME']] #taking a subset of the data

In [1870]:
hc_3 = hc_3.groupby('DATA_YEAR').count() #grouping by DATA_YEAR

In [1871]:
hc_3.columns= ['count']#renaming the column

In [1872]:
labels={"count":"Count in thousands"} #creating the figure
fig3 = px.line(hc_3, x=x, y="count", labels=labels ,title='The number of hate crimes over the years(1991-2018)')
fig3.show()

# Fourth Visualization

The type of offenses that was most predominant over the years(1991-2018)

In [1873]:
hc_4 = hc[['OFFENSE_NAME','STATE_NAME']] #taking a subset of the data

In [1874]:
hc_4= hc_4.groupby('OFFENSE_NAME').count() #grouping by OFFENSE_NAME

In [1875]:
hc_4.columns= ['count'] #renaming the column

In [1876]:
hc_4 = hc_4.sort_values(by='count', ascending= False) #rearranging them in a descending order

In [1877]:
hc_4 = hc_4.head(10) #taking the 10 first items in the list

In [1878]:
names=hc_4.index #putting the name that will be used in a list
fig4= px.pie(hc_4, names= names,values= hc_4['count'],color='count') #creating the figure
fig4.show()

# Fifth Visualization

The race with the highest number of offenders in 100000 of it's population

In [1879]:
hc_5= hc[['OFFENDER_RACE','STATE_NAME']] #taking a subset of the data

In [1880]:
hc_5= hc_5.groupby('OFFENDER_RACE').count() #grouping by OFFENDER_RACE

In [1881]:
hc_5.columns= ['count'] #renaming the column

In [1882]:
hc_5 = hc_5.drop(['Multiple','Unknown','Native Hawaiian or Other Pacific Islander']) #dropping unwanted rows

In [1883]:
hc_5 = hc_5.sort_values(by='count', ascending= False) #rearranging them in a descending order

In [1884]:
hc_5

                                  count
OFFENDER_RACE
White                             79514
Black or African American         25956
Asian                              1453
American Indian or Alaska Native   1095

In [1885]:
dfs2= pd.read_html("https://www.infoplease.com/us/society-culture/race/us-population-race") #parsing html file for US population by race

In [1886]:
len(dfs2) #finding out how many dataframes parsed in the html file

2

In [1887]:
race_pop=dfs2[0] #choosing the dataframe with index 0

In [1888]:
race_pop= race_pop.head(6) #dropping unwanted rows from the dataframe
race_pop= race_pop.tail(4)

In [1889]:
race_pop = race_pop.drop(columns=['Number 2010','Percent','Percent.1'])  #dropping unwanted columns from the dataframe

In [1890]:
race_pop

                             Subject Number 2000
2                              White   211460626
3          Black or African American    34658190
4  American Indian and Alaska Native     2475956
5                              Asian    10242998

In [1891]:
race_pop.columns = ['OFFENDER_RACE','RACE_POPULATION'] #renaming the columns

In [1892]:
race_pop.at[4,'OFFENDER_RACE'] = 'American Indian or Alaska Native' #fixing the value in a cell

In [1893]:
hc_5 = pd.merge(hc_5, race_pop, on ="OFFENDER_RACE") #merging the two dataframes

In [1894]:
hc_5.reset_index(drop=True, inplace=True) #reseting the index of the dataframe

In [1895]:
hc_5["count"]=hc_5["count"].astype('float') #changing the data type of DATA_YEAR from int64 to an object
hc_5["RACE_POPULATION"]=hc_5["RACE_POPULATION"].astype('float') #changing the data type of DATA_YEAR from int64 to an object

In [1896]:
hc_5

                      OFFENDER_RACE    count  RACE_POPULATION
0                             White  79514.0      211460626.0
1         Black or African American  25956.0       34658190.0
2                             Asian   1453.0       10242998.0
3  American Indian or Alaska Native   1095.0        2475956.0

In [1897]:
hc_5['norm']= (hc_5['count']/hc_5['RACE_POPULATION'])*100000 #creating a normalized value for the dataframe

In [1898]:
hc_5 = hc_5.sort_values(by='norm', ascending= False) #sorting the rows by the norm column

In [1899]:
fig5 = px.scatter(hc_5,x='RACE_POPULATION', y='count',size='norm',title='The race with the highest number of offenders in 100000 of its population') #creating the figure
fig5.show()
#creating the figure

In [1900]:
hc_5

                      OFFENDER_RACE    count  RACE_POPULATION       norm
1         Black or African American  25956.0       34658190.0  74.891389
3  American Indian or Alaska Native   1095.0        2475956.0  44.225342
0                             White  79514.0      211460626.0  37.602272
2                             Asian   1453.0       10242998.0  14.185300

In [1901]:
names= hc_5['OFFENDER_RACE']
labels= {'index':'Race of the offender'}
fig5_2 = px.bar(hc_5,x='OFFENDER_RACE',y='norm',labels=labels ,title='The race with the highest number of offenders in 100000 of its population')
fig5_2.show() 
#creating the figure